<div class="panel panel-primary">
	<div class="panel panel-heading ">
		<span class="" > Start Coding !  </span>
		<div class="col-md-2 pull-right">
		
				<select  class=" form-control pull-right" ng-model="selected">
						<option value="1" > C </option>
						<option value="2"> C++ </option>
					</select> 
		</div>
	</div>
	<div class="panel-body ">
		<form action="l.php" method="post">		
			
				<textarea ui-codemirror ui-codemirror-opts="editorOptions" ng-model="code" required></textarea>
					
					<br>
					
				
		</form>		

	</div>
</div>	
		<br>
</form>