<div class="container ">
	<div class="row">
		<div class="page-header col-md-12 ">
			<h1> Online Coding Question Number 4  </h1>
		</div>	
	</div>
	<div class="row">
		<h1> <strong> The Robot  </strong> </h1>
		
	</div>

	<h3> <strong> Problem Statement </strong> </h3>
	<div class="col-md-12" style="font-size:20px">
			A robot is programmed to move forward F meters and backwards again, say B meters, in a straight line. The Robot covers 1 meter in T units of time. On Robot's path there is a ditch at a distance FD from initial position in forward direction as well as a ditch at a distance BD from initial position in backward direction. This forward and backward movement is performed repeatedly by the Robot.  

Your task is to calculate amount of time taken, before the Robot falls in either ditch, if at all it falls in a ditch.
	<div class="row">
		<h3> <strong> Input Format </strong></h3>
		First line contains total number of test cases, denoted by N
Next N lines, contain a tuple containing 5 values delimited by space  
F B T FD BD, where
 1.	F  denotes forward displacement in meters <br>
 2.	B  denotes backward displacement in meters<br>
 3.	T  denotes time taken to cover 1 meter<br>
 4.	FD  denotes distance from Robot's starting position and the ditch in forward direction<br>
 5.	BD  denotes distance from Robot's starting position and the ditch in backward direction 
	<br>
	<h3> <strong> Output Format </strong></h3>
	For each test case print time taken by the Robot to fall in the ditch and also state which ditch he falls into. Print F for forward and B for backward. Both the outputs must be delimited by whitespace  
OR  

Print No Ditch if the Robot does not fall in either ditch  
	<br>
	<h3> <strong> Constraints  </strong> </h3>
First move will always be in forward direction<br>
1 <= N <= 100<br>
forward displacement > 0 <br>
backward displacement > 0<br>
time > 0  <br>
distance of ditch in forward direction (FD) > 0<br>
distance of ditch in backward direction (BD) > 0<br>
All input values must be positive integers only

	<h3> <strong> Sample Input </strong> </h3>
	<div class="well">
		3<br>
9 4 3 13 10<br>
9 7 1 11 13 <br>
4 4 3 8 12 <br>
	</div><br>
	<h3> <strong> Sample Output </strong> </h3>
	<div class="well">
		63 F <br>
25 F<br>
No Ditch
	</div>
	<h3> <strong> Sample Input 2</strong> </h3>
	<div class="well">
	5<br>
8 4 7 11 22 <br>
4 5 4 25 6 <br>
4 9 3 6 29<br>
7 10 6 24 12<br>
10 10 1 9 7
	</div><br>
	<h3> <strong> Sample Output 2</strong> </h3>
	<div class="well">
		133 F<br>
216 B<br>
231 B<br>
408 B<br>
9 F
	</div>


	<form >
	
	<code-box>
	  </code-box>
	<input type="button" ng-click="submitAnswer('4',selected,code)" class="btn btn-md  btn-success pull-right" value="Submit">
<br><br> Result :
	<div class="well">
		{{result}}
		<ul>
		<li ng-repeat="case in testcase">
		 Testcase {{$index+1}} {{case}}
		 </li>
		 </ul>
		 <a ng-click="redirect()" > <button ng-show="finish" class="btn btn-md btn-success"> Next Question </button> </a>
	</div> 

	</form>
	</div>
	</div>


</div>